<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/menu.css" />
  </head>
  <body>
    <div class="container-menu">
      <div class="content-menu">
        <div class="element-menu">
          <img class="icon-menu" src="../images/gym.png" />
          <span>My Personal Record</span>
        </div>

        <div class="element-menu">
          <div class="options-menu">
            <span class="option"></span>
            <span class="option"></span>
            <span class="option"></span>
            <span class="option"></span>
            <span class="option"></span>
          </div>
          <div class="account-menu"></div>
          <img class="icon-menu" src="../images/account.png" />
        </div>
      </div>
    </div>
  </body>
</html>
